<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd"
 							>	

	<bean id="mongoDataStore" class="org.yuntao.framework.mongodb.MongoDataStore" init-method="init">
				<property name="ipAddress" value="0.0.0.0"/>
	        <property name="port" value="27017"/>
	        <property name="dbName" value="zoumiu"/>
	</bean>
	
	<context:annotation-config/>
    <context:component-scan base-package="com.zoumiu">
    </context:component-scan>
    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>
